<!--<app-movie *ngFor=" let movie of allMovies" [movieModel]="movie"></app-movie>-->
<!--<app-movie [movieModel]="allMovies" ></app-movie>-->
<main>
  <div class="movie" *ngFor=" let movie of allMovies| paginate: { id: 'list_page',
   itemsPerPage:20,
   currentPage:page,
   totalItems: totalResults}">
    <img src="https://image.tmdb.org/t/p/w1280{{movie.poster_path}}" alt="">
    <div class="movie-infos properties">
      <h3>{{movie.title | titlecase}}</h3>
      <span class="age-limit"  >{{movie.vote_average}} </span>
      <span class="year ">{{movie.release_date | date: "MMMM YYYY"}}</span>
    </div>
  </div>
  <div>
    <pagination-controls id="list_page" (pageChange)="handlePageChange($event)"
      previousLabel="Prev"
      nextLabel="Next"
    ></pagination-controls>
  </div>
</main>



