 img {
  width: 100%;
}
.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
span.green {
  color: lightgreen;
}

 span.orange {
  color: orange;
}

span.red {
 color:  red;
}

.description {
  font-weight: 300;
  font-size: 1.4vw;
}

.properties {
  font-size: 1.35vw;
  * {
    margin: 5px;
  }
  .age-limit {
    border: 0.1em solid rgba(255, 255, 255, 0.4);
    font-weight: 200;
    font-size: 1.2vw;
    padding: 0 3px 0 3px;
  }
}

